.btn {
  background-color: greenyellow;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid white;
}

.bottom-btn {
  background-color: blue;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid white;
}

.up-btn {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid white;
}
